<img src="{{ site.baseurl }}/assets/images/smallplanet.png" class="planet1" />
<img src="{{ site.baseurl }}/assets/images/planetwithrings.png" class="planet2" />
<div class="rocket"><img src="{{ site.baseurl }}/assets/images/rocket.png" alt="Visit JasonGaylord.com"/></div>

<div style="margin-left: -10px; margin-right: -10px; display: none;">
    <div class="lqm-ad">
        <div data-type="ad" data-publisher="lqm.jasongaylord.site" data-format="300x250" data-zone="menu"></div>
    </div>
</div>