---
title: Good Article - Visual Studio Team System Load Test Results Via A Configurable Web Site
author: Jason Gaylord
date: 2006-06-20 12:46:00
aspnet-weblog-link: http://weblogs.asp.net/jgaylord/archive/2006/06/20/Good-Article-_2D00_-Visual-Studio-Team-System-Load-Test-Results-Via-A-Configurable-Web-Site.aspx
categories: [aspnet-weblog]
tags: [archive]
bitly: https://jasong.us/2LAFdBt
---

I was looking through the June MSDN magazine and found a pretty good article on viewing Visual Studio Team System load test results with a configurable web site. You can read it [here](http://msdn.microsoft.com/msdnmag/issues/06/06/ShareTheLoad/default.aspx).