---
---

$baseurl: '{{ site.baseurl }}';

// Fonts
$font-site-title: "Rock Salt", cursive, sans-serif;

// Colors
$color-secondary: #01243B;
$color-grey: #2e3e4e;
$color-lightgrey: #E2E2E2;
$color-blue: #0a59b0;
$color-navy: #01243B;
$color-orange: #cc6666;

$color-link: $color-blue;

$color-header-background: $color-grey;
$color-header-background-active: rgba(2, 21, 35, .5);
$color-social-icons-background: rgba(2, 21, 35, 0.2);

// Import
@import 'SpaacedOut';

// Overrides
.header {
    background-image: url('#{$baseurl}/assets/images/stars.png');
    background-position-y: top;
    background-position-x: center;

    .site-title {
        font-size: $size-standard-font*1.4!important;
    }

    .social-links {
        height:unset!important;

        ul li a {
            font-size: 1.5em!important;
        }
    }

    .rocket {
        z-index: 3;
        position: absolute;
        top: 185px;
        left: 242px;

        @media screen and (max-width: $media-breakpoint-sm-max) {
            top: 10px;
        }

        img {
            width: 30px;
        }
    }

    @media screen and (max-width: $media-breakpoint-sm-max) {
        .main-navigation {
            background-image: url('#{$baseurl}/assets/images/stars.png');
            background-position-y: top;
            background-position-x: center;
        }
    }
}

.github-avatar {
    border-radius: 100px;
}

.pagination {
    margin: 15px 0;

    a, span {
        border: 1px solid $color-lightgrey;
        padding: 5px;
    }

    a:hover {
        border-color: $color-purple;
    }

    span {
        color: $color-light-grey;
    }

    span:not(:first-child):not(:last-child) {
        color: $color-orange;
        font-weight: 900;
    }

    &:first-child {
        color: $color-primary;
        font-weight: normal;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        color: $color-primary;
        font-weight: normal;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.button {
    padding: 5px;
    border: 1px solid $color-lightgrey;
    border-radius: 5px;
    color: $color-primary;

    &:hover {
        border-color: $color-purple;
        color: $color-lightblue;
    }
}