---
---

$baseurl: '{{ site.baseurl }}';

// Fonts
$font-site-title: "Rock Salt", cursive, sans-serif;

// Colors
$color-secondary: #01243B;
$color-grey: #2e3e4e;
$color-lightgrey: #E2E2E2;
$color-blue: #0a59b0;
$color-navy: #01243B;
$color-orange: #cc6666;
$color-redorange: #c54444;

$color-link: $color-blue;

$color-header-background: $color-grey;
$color-header-background-active: rgba(2, 21, 35, .5);
$color-social-icons-background: rgba(2, 21, 35, 0.2);

// Import
@import 'SpaacedOut';

// Custom Styles
.avatar-small {
    border-radius: 15px;
}

.button {
    padding: 5px;
    border: 1px solid $color-lightgrey;
    border-radius: 5px;
    color: $color-primary;

    &:hover {
        border-color: $color-purple;
        color: $color-lightblue;
    }
}

.cursor {
    cursor: pointer;

    &.permalink {
        transition: color $transition-time;
        &:hover {
            color: $color-link-hover;
        } 
    }
}

a.github-button {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    background-color: #24292e;
    color: #fff;
    font-family: Raleway;
    text-decoration: none;

    &:hover {
        color: #ffffffb3;
    }
}

hr {
    border: 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #fff;
    color: #888;
}

.github-avatar {
    border-radius: 100px;
    float: right;
    margin: 0 0 30px 30px;
}

/*
.no-format {
    border: 0;
    background-color: transparent;
    font-family: $font-standard;
    font-size:  $size-standard-font;
    color: $color-link;
    transition: color $transition-time;
    &:hover {
        color: $color-link-hover;
    }
}*/

.pagination {
    margin: 15px 0;

    a, span {
        border-top: 1px solid $color-lightgrey;
        border-left: 1px solid $color-lightgrey;
        border-bottom: 1px solid $color-lightgrey;
        padding: 5px 10px;
    }

    a:hover {
        background-color: $color-purple;
        color: $color-white;
    }

    span {
        color: $color-lightgrey;

        & + a {
            border-left: 0;
        }

        &:not(:first-child):not(:last-child) {
            color: $color-orange;
            font-weight: 900;
            border-color: $color-orange;
            border-right: 1px solid $color-orange;
        }
    }

    :first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    :last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right: 1px solid $color-lightgrey;
    }
}

.post-content {
    margin-bottom: 30px;
}

div.post-header {
    color: #888;
    margin-bottom: 30px;

    a {
        color: #888;

        &:hover {
            color: $color-post-meta;
        }
    }
}

// Ads
.desktop, .mobile {
    &.ad {
        :first-child {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: $media-breakpoint-sm-max) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (min-width: $media-breakpoint-md-min) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

// Header Overrides
.header {
    background-image: url('https://cdn.jasongaylord.com/images/site/stars.png'); // was: url('#{$baseurl}/assets/images/stars.png');
    background-position-y: top;
    background-position-x: center;

    @media screen and (min-width: 768px){
        padding: 16px;
    }

    .site-avatar {
        position: relative;
    }

    .planet1 {
        max-width:  100px;
        top: 10px;
        position: absolute;
        z-index: 1!important;
        left: 20px;

        @media screen and (max-width: $media-breakpoint-sm-max) {
            display: none;
        }
    }

    .planet2 {
        max-width:  120px;
        bottom: 90px;
        position: absolute;
        z-index: 1!important;
        left: 140px;

        @media screen and (max-width: $media-breakpoint-sm-max) {
            display: none;
        }
    }

    .site-title {
        font-size: $size-standard-font*1.4!important;
    }

    .social-links {
        @media screen and (min-width: $media-breakpoint-md-min) {
            height:unset!important;
        }

        ul li a {
            font-size: 1.5em!important;
        }
    }

    .rocket {
        z-index: 3;
        position: absolute;
        top: 185px;
        left: 242px;

        @media screen and (max-width: $media-breakpoint-sm-max) {
            top: 10px;
        }

        img {
            width: 30px;
        }
    }

    @media screen and (max-width: $media-breakpoint-sm-max) {
        .main-navigation {
            background-image: url('#{$baseurl}/assets/images/stars.png');
            background-position-y: top;
            background-position-x: center;
        }
    }
} // header


// Meta Overrides
.post-entry {
    .date {
        padding-left: 1rem;
        font-size: .8rem;
    }
}

// Code Overrides
p code {
    &.highlighter-rouge {
        color: $color-redorange!important;
    }
}
