<div class="post-header">
    <i class="far fa-calendar-alt"></i>
    <time class="date dt-published" datetime="{{ page.date | default:post.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = "%b %-d, %Y" %}
        {{ page.date | default:post.date | date: date_format }}
    </time>

    &nbsp;
    &#9679;
    &nbsp;

    {% capture words %}
        {{ page.content | number_of_words | minus: 225 }}
    {% endcapture %}
    {% unless words contains "-" %}
        {{ words | plus: 225 | divided_by: 225 | append: " minute(s) to read" }}

        &nbsp;
        &#9679;
        &nbsp;
    {% endunless %}

    {% if page.bitly or post.bitly %}   
        <span class="cursor" data-copy-text="{{ page.bitly | default:post.bitly }}"><i class="fas fa-copy"></i> Permalink</span>

        &nbsp;
        &#9679;
        &nbsp;
    {% endif %}

    <i class="fas fa-pencil-alt"></i>
    <span class="edit">{% include post/edit.html %}</span>
</div>