{{ include.intro }}Below you'll find a list of the current openings on my team updated on 8/5/2021. If you are interested, I encourage you to apply to the posting directly. If you do not apply, we cannot have a conversation about the positions.

<ul>
    <li><a href="https://jasong.us/3jnQBkt" target="_blank" title=".NET Developer - Job ID 3210">.NET Developer</a></li>
    <li><a href="https://jasong.us/3ziHech" target="_blank" title="Senior Computer Systems Technician - Job ID 3099">Senior Computer Systems Technician</a></li>
    <li><a href="https://jasong.us/3u01Q5R" target="_blank" title="Full Stack Developer - Job ID 3014">Full Stack Developer</a></li>
    <li><a href="https://jasong.us/32SV1Il" target="_blank" title="Quality Assurance Test Engineer - Job ID 3001">Quality Assurance Test Engineer</a></li>
</ul>