{{ include.intro }}Below you'll find a list of the current openings on my team updated on 3/8/2023. If you are interested, I encourage you to apply to the posting directly. If you do not apply, we cannot have a conversation about the positions.

<ul>
    <li><a href="https://jasong.us/3Ypy8qd" target="_blank" title="Full Stack Developer - Job ID 4453">Full Stack Developer</a></li>
    <li><a href="https://jasong.us/3F46mbQ" target="_blank" title=".NET Developer - Job ID 4452">.NET Developer</a></li>
    <li><a href="https://jasong.us/3F6Al3c" target="_blank" title="Help Desk Technician - Job ID 4448">Help Desk Technician</a></li>
    <li><a href="https://jasong.us/3L4rGSz" target="_blank" title="Business Systems Analyst - Job ID 4386">Business Systems Analyst</a></li>
</ul>