{{ include.intro }}Below you'll find a list of the current openings on my team updated on 7/3/2023. If you are interested, I encourage you to apply to the posting directly. If you do not apply, we cannot have a conversation about the positions.

<ul>
    <li><a href="https://jasong.us/3JBnKXM" target="_blank" title="Project Manager - Job ID 4634">Project Manager</a></li>
    <li><a href="https://jasong.us/3FnQHo0" target="_blank" title="QA Test Engineer - Job ID 4480">QA Test Engineer</a></li>
    <li><a href="https://jasong.us/3yCU5HV" target="_blank" title="Business Systems Analyst - Job ID 4479">Business Systems Analyst</a></li>
    <li><a href="https://jasong.us/3Ypy8qd" target="_blank" title="Full Stack Developer - Job ID 4453">Full Stack Developer</a></li>
    <li><a href="https://jasong.us/3F46mbQ" target="_blank" title=".NET Developer - Job ID 4452">.NET Developer</a></li>
</ul>